body {
    color: black; 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    align-content: center;
}

nav a:hover {
    color: #4DA2D9;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

footer p {
    margin-top: 2px;
    text-align: center;
}


footer a:hover {
    color: #4DA2D9;
}

.Tudo {
    padding: 0px 50px;
}

h1 {
    color: #4DA2D9;
    text-align: center;
}

h2 {
    text-align: center;
}